@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  .section-title {
  @apply text-2xl font-semibold text-green-700 mb-4;
}

.sub-title {
  @apply font-semibold text-green-600 mb-3;
}

.table {
  @apply min-w-full border border-gray-300 text-sm;
}

.table th {
  @apply bg-green-100 border px-4 py-2 text-left;
}

.table td {
  @apply border px-4 py-2;
}

}
